<%- include('partials/heads.ejs') %> 

  <body>
  <%- include('partials/navbar.ejs') %> 

    <h1>The Home Page <%= 1 + 2 * 3 %>  </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nostrum et
      molestiae in quo doloribus adipisci, amet vero explicabo error. Eligendi
      repellendus magnam placeat sapiente aperiam quae beatae aut explicabo.
    </p>
  </body>
</html>
